doctype html
html
  head
    title #{title} Eat Lunch!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Let's Eat
    .logo
    h2 Eat lunch is currently in private beta, please check back soon!