doctype html
html
  head
    title #{title} Eat Lunch!
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/profile.css')
    meta(name='viewport', content='width=device-width') 
  body
    .logo.index
    h1.heretheyare Here's the people within a mile:
    div.nobodyshere Nobody eats lunch within a mile of you yet! Check back soon, Hopefully there will be some more lunchers then!
    div.lunchers
    button.logout logout
  include includes
  script(src='/scripts/findlunchers.js')
  script(src='/externals/handlebars.js')
  <script id="profile" type="text/x-handlebars-template">
  .profile
    <div class="profilePicture" {{#if photo}}style='background-image: url(/uploads/{{photo}})'){{/if}}></div>
    .content
      .name {{username}} - 
        span.distance {{distance}}mi
        {{#if facebook}}
        a.facebook(href='http://facebook.com/{{facebook}}')
        {{/if}}
        {{#if twitter}}
        a.twitter(href='http://twitter.com/{{twitter}}')
        {{/if}}
      .bio {{bio}}
      {{#if teams}}
      .teams <strong>Teams:</strong> {{teams}} 
      {{/if}}
  </script>