doctype html
html
  head
    title #{title} Eat Lunch!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    <button class="logout">logout</button>
    <div class="lunchers"></div>
  include includes
  script(src='/scripts/findlunchers.js')