doctype html
html
  head
    title #{title} - Eat Lunch!
    meta(name='viewport', content='width=device-width') 
    link(rel='stylesheet', href='/stylesheets/style.css')
    include includes
  body
    header
      h1 Eat Lunch!
    .container
      .main-content
        block content
