doctype html
html
  head
    title #{title} - Eat Lunch!
    link(rel='stylesheet', href='/stylesheets/style.css')
    include includes
  body
    header
      h1 Eat Lunch!
    .container
      .main-content
        input(type='text', name='username', placeholder='Username')
        input(type='password', name='password',placeholder='Password')
        button.submit Submit
        button.register Register
        input(type='password', name='passwordConfirm',placeholder='Confirm Password')
        input#pac-input(type='text',name='officeLocation',placeholder='Office Location')
        input(type='text',name='teams',placeholder='Teams You are on')
        .messageField
  script(src='https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places')
  script(src='/scripts/script.js')