body, html {                                                                                       
  font-family: helvetica, arial, sans-serif;                                                         
  text-align: center;
  background: #F1FCAD;
}                                                                                                    
h1, h2 {                                                                                             
  color: #DE4537;                                                                                    
}                                                                                                    
.logo {                                                                                              
  width: 33%;                                                                                        
  padding-bottom: 33%;                                                                               
  border: 20px solid #D3F7E9;                                                                        
  background-color: #FA7F46;                                                                         
  border-radius: 100%;                                                                               
  background: url(../images/eatlunch.png) #FA7F46 no-repeat center center;                              
  background-size: 80% 80%;                                                                          
  margin: 0 auto;                                                                                    
}
.error {
    border: 3px solid #900;
}